* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.wrapper{
    background-color: black;
    
}

.image {
    width: 100%;
    min-height: 100vh;
    background-image: url(bg.jpeg);
    background-size: cover;
    object-fit: cover;
    opacity: 0.8;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    
    position: relative;
    text-align: center;
    
}

.second{
    width: 800px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.clock {
   
    text-align: center;
    font-size: 160px;
    display: flex;
    top: 50%;
    left: 50%;
    color: #ffdf2b;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.clock span {
    font-size: 120px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after {

    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);

}

#hours::after {
    content: 'HOURS';
}

#mins::after {
    content: 'MINUTES';
}

#secs::after {
    content: 'SECONDS';
}

